#V002
# adj_vccio_1/2 signals added
# front panel signals removed

NET "scl"	LOC = "P32"; #primary i2c bus between ex and trc (cpld, muxer)
NET "sda"	LOC = "P31"; #primary i2c bus between ex and trc (cpld, muxer)

# relay driver
NET "gnd1_rel"	LOC = "P53"; #
NET "gnd2_rel"	LOC = "P54"; #
NET "tap1_rel"	LOC = "P51"; #
NET "tap2_rel"	LOC = "P52"; #
NET "dio1_rel" LOC = "P50"; #
NET "dio2_rel" LOC = "P49"; #
NET "aio1_rel" LOC = "P48"; #
NET "aio2_rel" LOC = "P46"; #
NET "trm_dio1_rel" LOC = "P44"; #
NET "trm_dio2_rel" LOC = "P43"; #
NET "trm_tdi_rel" LOC = "P45"; #

#UUT TAP signals
NET "trst1_drv" LOC = "P106"; #
NET "trst2_drv" LOC = "P86"; #
NET "tck1_drv"	LOC = "P104"; #
NET "tck2_drv"	LOC = "P92";  #
NET "tms1_drv"	LOC = "P103"; #
NET "tms2_drv"	LOC = "P91";  #
NET "tdo1_drv"	LOC = "P107"; #
NET "tdo2_drv"	LOC = "P88";  #
NET "dio11_drv"	LOC = "P102"; # 
NET "dio12_drv"	LOC = "P105"; # 
NET "dio21_drv"	LOC = "P87"; #
NET "dio22_drv"	LOC = "P85"; #

#I2C muxer channel select and enable
NET "i2c_en"         LOC =  "P2"; #
NET "i2c_sel_0"      LOC =  "P3"; #
NET "i2c_sel_1"      LOC =  "P4"; #
NET "i2c_sel_2"      LOC =  "P5"; #

#LED Front Panel
#NET "sda_pf"	LOC = "P6"; #
#NET "scl_pf"	LOC = "P7"; #

#comparator outputs
NET "tdi1_comp" 	LOC = "P137"; #
NET "tdi2_comp" 	LOC = "P138"; #


#vector executor interface
NET "trc_reset" LOC = "P35"; #

NET "tck_1" 	LOC = "P9"; #
NET "tdi_1" 	LOC = "P17"; #
NET "tms_1" 	LOC = "P10"; #
NET "tdo_1" 	LOC = "P11"; #
NET "trst_1" 	LOC = "P12"; #

NET "tck_2" 	LOC = "P13"; #
NET "tdi_2" 	LOC = "P18"; #
NET "tms_2" 	LOC = "P14"; #
NET "tdo_2" 	LOC = "P15"; #
NET "trst_2" 	LOC = "P16"; #

NET "gpio[0]"	LOC = "P19"; #
NET "gpio[1]"	LOC = "P20"; #
NET "gpio[2]"	LOC = "P21"; #
NET "gpio[3]"	LOC = "P22"; #

#OSC
NET "osc_rc"	LOC = "P30"; #
NET "osc_out"	LOC = "P28"; #

#DBG
NET "dbg[0]"	LOC = "P42"; #
NET "dbg[1]"	LOC = "P41"; #
NET "dbg[2]"	LOC = "P40"; #
NET "dbg[3]"	LOC = "P39"; #
NET "dbg[4]"	LOC = "P38"; #
NET "dbg[5]"	LOC = "P34"; #
NET "dbg[6]"	LOC = "P33"; #
NET "dbg[7]"	LOC = "P143"; #

#ins V002 begin
# vccio adjust signals
NET "ADJ_VCCIO_1_P1V5"	LOC = "P134";
NET "ADJ_VCCIO_1_P1V8"	LOC = "P133";
NET "ADJ_VCCIO_1_P2V5"	LOC = "P132";
NET "ADJ_VCCIO_2_P1V5"	LOC = "P131";
NET "ADJ_VCCIO_2_P1V8"	LOC = "P130";
NET "ADJ_VCCIO_2_P2V5"	LOC = "P129";
	
#ins V002 end