# ISE STUFF

*.data
*.gyd
*.mfd
*.mod
*.pnx
*.rpt
*.tim
*.vm6
*.err
*.jed
*_xdb

*.ps
*.mcs
*.prm
*.sig
*.svf
*.html
*.wfs
*.prj
*.wdb
*.gise
*.zip
*.ntrc_log
*.restore
#*.xise
*.log
*.xwbt
*.bit
*.bld
*.cmd_log
*.drc
*.ncd
*.lso
*.map
*.mrp
*.ngm
*.xrpt
*.ng?
*.stx
*.xml
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.xst
*.xrpt
DEADJOE
*.xreport
*.projectmgr
tmp
*.nlf
#*.ipf
*.cfi
#*.wcfg
*.pad
*.bgn
*.syr
*.csv
*.ptwx
*~
*.lst
_xmsgs
*.par
*.pcf
*.cmd
netgen
xlnx_auto_0_xdb
xst
*.xsl
*.xmsgs
*.ini
*.exe
isim

*.chk
*.cxt
*.lpc
*.tspec
*_html
*.lfp

# EAGLE STUFF
*.s#?
*.b#?
*.l#?
*.epf
eagle.rc
*.lck

# ASSEMBLER STUFF
*.bin
*.hex
*.lis

# KATE
*.kate-swp

*.txt
