# V0.1
# uut_pwr_x signals renamed

# V0.2
# reset_2 and spare_1 swapped

# V004
# clk_slow assigned to pin 154

#RAM
NET "d_ram<0>" LOC = P106 | IOSTANDARD = LVTTL;
NET "d_ram<1>" LOC = P107 | IOSTANDARD = LVTTL;
NET "d_ram<2>" LOC = P108 | IOSTANDARD = LVTTL;
NET "d_ram<3>" LOC = P109 | IOSTANDARD = LVTTL;
NET "d_ram<4>" LOC = P111 | IOSTANDARD = LVTTL;
NET "d_ram<5>" LOC = P113 | IOSTANDARD = LVTTL;
NET "d_ram<6>" LOC = P114 | IOSTANDARD = LVTTL;
NET "d_ram<7>" LOC = P115 | IOSTANDARD = LVTTL;
NET "cs_ram_out" LOC = P116 | IOSTANDARD = LVTTL;
NET "cs_ram_in" LOC = P117 | IOSTANDARD = LVTTL;
NET "wr_ram" LOC = P119 | IOSTANDARD = LVTTL;
NET "oe_ram" LOC = P120 | IOSTANDARD = LVTTL;

NET "a_ram<0>" LOC = P122 | IOSTANDARD = LVTTL;
NET "a_ram<1>" LOC = P123 | IOSTANDARD = LVTTL;
NET "a_ram<2>" LOC = P124 | IOSTANDARD = LVTTL;
NET "a_ram<3>" LOC = P125 | IOSTANDARD = LVTTL;
NET "a_ram<4>" LOC = P126 | IOSTANDARD = LVTTL;
NET "a_ram<5>" LOC = P128 | IOSTANDARD = LVTTL;
NET "a_ram<6>" LOC = P130 | IOSTANDARD = LVTTL;
NET "a_ram<7>" LOC = P131 | IOSTANDARD = LVTTL;
NET "a_ram<8>" LOC = P132 | IOSTANDARD = LVTTL;
NET "a_ram<9>" LOC = P133 | IOSTANDARD = LVTTL;
NET "a_ram<10>" LOC = P135 | IOSTANDARD = LVTTL;
NET "a_ram<11>" LOC = P137 | IOSTANDARD = LVTTL;
NET "a_ram<12>" LOC = P138 | IOSTANDARD = LVTTL;
NET "a_ram<13>" LOC = P139 | IOSTANDARD = LVTTL;
NET "a_ram<14>" LOC = P140 | IOSTANDARD = LVTTL;
NET "a_ram<15>" LOC = P141 | IOSTANDARD = LVTTL;
NET "a_ram<16>" LOC = P143 | IOSTANDARD = LVTTL;
NET "a_ram<17>" LOC = P144 | IOSTANDARD = LVTTL;
NET "a_ram<18>" LOC = P146 | IOSTANDARD = LVTTL;
#NET "a_ram<19>" LOC = P147 | IOSTANDARD = LVTTL;
#NET "a_ram<20>" LOC = P148 | IOSTANDARD = LVTTL;
#NET "a_ram<21>" LOC = P149 | IOSTANDARD = LVTTL;
#NET "a_ram<22>" LOC = P150 | IOSTANDARD = LVTTL;
#NET "a_ram<23>" LOC = P152 | IOSTANDARD = LVTTL;


#CPU
NET "d_cpu<0>" LOC = P161 | IOSTANDARD = LVTTL;
NET "d_cpu<1>" LOC = P162 | IOSTANDARD = LVTTL;
NET "d_cpu<2>" LOC = P165 | IOSTANDARD = LVTTL;
NET "d_cpu<3>" LOC = P166 | IOSTANDARD = LVTTL;
NET "d_cpu<4>" LOC = P167 | IOSTANDARD = LVTTL;
NET "d_cpu<5>" LOC = P168 | IOSTANDARD = LVTTL;
NET "d_cpu<6>" LOC = P169 | IOSTANDARD = LVTTL;
NET "d_cpu<7>" LOC = P171 | IOSTANDARD = LVTTL;

NET "rd_cpu" LOC = P172 | IOSTANDARD = LVTTL;
NET "wr_cpu" LOC = P175 | IOSTANDARD = LVTTL;

NET "io_req_cpu" LOC = P176 | IOSTANDARD = LVTTL;
NET "mem_req_cpu" LOC = P178 | IOSTANDARD = LVTTL;
NET "clk_cpu" LOC = P180 | IOSTANDARD = LVTTL;
NET "reset_cpu" LOC = P182 | IOSTANDARD = LVTTL;

NET "bus_req_cpu" LOC = P183 | IOSTANDARD = LVTTL;
NET "bus_ack_cpu" LOC = P184 | IOSTANDARD = LVTTL;

NET "m1_cpu" LOC = P185 | IOSTANDARD = LVTTL;
NET "halt_cpu" LOC = P187 | IOSTANDARD = LVTTL;
NET "wait_cpu" LOC = P189 | IOSTANDARD = LVTTL;
NET "rfsh_cpu" LOC = P190 | IOSTANDARD = LVTTL;

NET "int_cpu" LOC = P191 | IOSTANDARD = LVTTL;
NET "nmi_cpu" LOC = P194 | IOSTANDARD = LVTTL;

NET "iei" LOC = P196 | IOSTANDARD = LVTTL;
NET "ieo" LOC = P197 | IOSTANDARD = LVTTL;

NET "a_cpu<0>" LOC = P198 | IOSTANDARD = LVTTL;
NET "a_cpu<1>" LOC = P199 | IOSTANDARD = LVTTL;
NET "a_cpu<2>" LOC = P200 | IOSTANDARD = LVTTL;
NET "a_cpu<3>" LOC = P203 | IOSTANDARD = LVTTL;
NET "a_cpu<4>" LOC = P204 | IOSTANDARD = LVTTL;
NET "a_cpu<5>" LOC = P205 | IOSTANDARD = LVTTL;
NET "a_cpu<6>" LOC = P2 | IOSTANDARD = LVTTL;
NET "a_cpu<7>" LOC = P3 | IOSTANDARD = LVTTL;

NET "a_cpu<8>" LOC = P4 | IOSTANDARD = LVTTL;
NET "a_cpu<9>" LOC = P5 | IOSTANDARD = LVTTL;
NET "a_cpu<10>" LOC = P7 | IOSTANDARD = LVTTL;
NET "a_cpu<11>" LOC = P9 | IOSTANDARD = LVTTL;
NET "a_cpu<12>" LOC = P10 | IOSTANDARD = LVTTL;
NET "a_cpu<13>" LOC = P11 | IOSTANDARD = LVTTL;
NET "a_cpu<14>" LOC = P12 | IOSTANDARD = LVTTL;
NET "a_cpu<15>" LOC = P13 | IOSTANDARD = LVTTL;

#NET "reserved_cpu<0>" LOC = P15 | IOSTANDARD = LVTTL;
#NET "reserved_cpu<1>" LOC = P16 | IOSTANDARD = LVTTL;
#NET "reserved_cpu<2>" LOC = P18 | IOSTANDARD = LVTTL;
#NET "reserved_cpu<3>" LOC = P19 | IOSTANDARD = LVTTL;
#NET "reserved_cpu<4>" LOC = P20 | IOSTANDARD = LVTTL;
#NET "reserved_cpu<5>" LOC = P21 | IOSTANDARD = LVTTL;
#NET "reserved_cpu<6>" LOC = P22 | IOSTANDARD = LVTTL;
#NET "reserved_cpu<7>" LOC = P24 | IOSTANDARD = LVTTL;

#OSC
NET "clk_scan" LOC = P181 | IOSTANDARD = LVTTL;
NET "clk_slow" LOC = P154 | IOSTANDARD = LVTTL;

#TAP
NET "tck_1" LOC = P76 | IOSTANDARD = LVTTL;
NET "tck_2" LOC = P77 | IOSTANDARD = LVTTL;
NET "tms_1" LOC = P74 | IOSTANDARD = LVTTL;
NET "tms_2" LOC = P72 | IOSTANDARD = LVTTL;
NET "tdo_1" LOC = P68 | IOSTANDARD = LVTTL;
NET "tdo_2" LOC = P67 | IOSTANDARD = LVTTL;
NET "trst_1" LOC = P65 | IOSTANDARD = LVTTL;
NET "trst_2" LOC = P64 | IOSTANDARD = LVTTL;
NET "fail_1" LOC = P63 | IOSTANDARD = LVTTL;
NET "fail_2" LOC = P62 | IOSTANDARD = LVTTL;
NET "tdi_1" LOC = P78 | IOSTANDARD = LVTTL;
NET "tdi_2" LOC = P71 | IOSTANDARD = LVTTL;


#GPIO
NET "gpio<0>" LOC = P45 | IOSTANDARD = LVTTL;
NET "gpio<1>" LOC = P46 | IOSTANDARD = LVTTL;
NET "gpio<2>" LOC = P48 | IOSTANDARD = LVTTL;
NET "gpio<3>" LOC = P50 | IOSTANDARD = LVTTL;
#NET "gpio<4>" LOC = P51 | IOSTANDARD = LVTTL;
#NET "gpio<5>" LOC = P50 | IOSTANDARD = LVTTL;
#NET "gpio<6>" LOC = P48 | IOSTANDARD = LVTTL;
#NET "gpio<7>" LOC = P46 | IOSTANDARD = LVTTL;

#DEBUG
NET "debug<0>" LOC = P61 | IOSTANDARD = LVTTL; #led red
NET "debug<1>" LOC = P33 | IOSTANDARD = LVTTL; #led yellow
NET "debug<2>" LOC = P44 | IOSTANDARD = LVTTL; #led blue
NET "debug<3>" LOC = P43 | IOSTANDARD = LVTTL;
NET "debug<4>" LOC = P96 | IOSTANDARD = LVTTL;
NET "debug<5>" LOC = P40 | IOSTANDARD = LVTTL;
NET "debug<6>" LOC = P39 | IOSTANDARD = LVTTL;
NET "debug<7>" LOC = P37 | IOSTANDARD = LVTTL;

#start/stop/sts front panel
NET "start" LOC = P35 | IOSTANDARD = LVTTL;
NET "stop" LOC = P34 | IOSTANDARD = LVTTL;
NET "pass" LOC = P57 | IOSTANDARD = LVTTL;
NET "fail" LOC = P58 | IOSTANDARD = LVTTL;
	
#UUT pwr control
NET "uut_pwr_fail" LOC = P28 | IOSTANDARD = LVTTL;
NET "emrgcy_pwr_off" LOC = P31 | IOSTANDARD = LVTTL;
#NET "spare_1" LOC = P29 | IOSTANDARD = LVTTL; # rm V0.2
NET "spare_1" LOC = P36 | IOSTANDARD = LVTTL; # ins V0.2
#NET "reset_2" LOC = P36 | IOSTANDARD = LVTTL; # rm V0.2
NET "reset_2" LOC = P29 | IOSTANDARD = LVTTL; # ins V0.2

#watchdog
NET "watchdog" LOC = P26 | IOSTANDARD = LVTTL | PULLUP;

#pwr good
#NET "pwr_good" LOC = P97 | IOSTANDARD = LVTTL;

#I2C
NET "sda" LOC = P52 | IOSTANDARD = LVTTL; 
NET "scl" LOC = P51 | IOSTANDARD = LVTTL;

#rsv
NET "rsv_16" LOC = P80 | IOSTANDARD = LVTTL;

