# MEMORY (RAM / FLASH EEPROM)
NET "MEM_D<0>" 			LOC = P106 | IOSTANDARD = LVTTL;
NET "MEM_D<1>" 			LOC = P107 | IOSTANDARD = LVTTL;
NET "MEM_D<2>" 			LOC = P108 | IOSTANDARD = LVTTL;
NET "MEM_D<3>" 			LOC = P109 | IOSTANDARD = LVTTL;
NET "MEM_D<4>" 			LOC = P111 | IOSTANDARD = LVTTL;
NET "MEM_D<5>" 			LOC = P113 | IOSTANDARD = LVTTL;
NET "MEM_D<6>" 			LOC = P114 | IOSTANDARD = LVTTL;
NET "MEM_D<7>"			LOC = P115 | IOSTANDARD = LVTTL;

NET "MEM_A<0>" 			LOC = P122 | IOSTANDARD = LVTTL;
NET "MEM_A<1>" 			LOC = P123 | IOSTANDARD = LVTTL;
NET "MEM_A<2>" 			LOC = P124 | IOSTANDARD = LVTTL;
NET "MEM_A<3>" 			LOC = P125 | IOSTANDARD = LVTTL;
NET "MEM_A<4>" 			LOC = P126 | IOSTANDARD = LVTTL;
NET "MEM_A<5>" 			LOC = P128 | IOSTANDARD = LVTTL;
NET "MEM_A<6>" 			LOC = P130 | IOSTANDARD = LVTTL;
NET "MEM_A<7>" 			LOC = P131 | IOSTANDARD = LVTTL;
NET "MEM_A<8>" 			LOC = P132 | IOSTANDARD = LVTTL;
NET "MEM_A<9>" 			LOC = P133 | IOSTANDARD = LVTTL;
NET "MEM_A<10>" 		LOC = P135 | IOSTANDARD = LVTTL;
NET "MEM_A<11>" 		LOC = P137 | IOSTANDARD = LVTTL;
NET "MEM_A<12>" 		LOC = P138 | IOSTANDARD = LVTTL;
NET "MEM_A<13>" 		LOC = P139 | IOSTANDARD = LVTTL;
NET "MEM_A<14>" 		LOC = P140 | IOSTANDARD = LVTTL;
NET "MEM_A<15>" 		LOC = P141 | IOSTANDARD = LVTTL;
NET "MEM_A<16>" 		LOC = P143 | IOSTANDARD = LVTTL;
NET "MEM_A<17>" 		LOC = P144 | IOSTANDARD = LVTTL;
NET "MEM_A<18>" 		LOC = P146 | IOSTANDARD = LVTTL;

NET "RAM_OUT_CS_1_N" 	LOC = P116 | IOSTANDARD = LVTTL;
NET "RAM_OUT_CS_2_N" 	LOC = P147 | IOSTANDARD = LVTTL;
NET "RAM_IN_CS_N" 		LOC = P117 | IOSTANDARD = LVTTL;
NET "ROM_CS_N" 			LOC = P148 | IOSTANDARD = LVTTL;
NET "MEM_OE_N" 			LOC = P120 | IOSTANDARD = LVTTL;
NET "MEM_WE_N" 			LOC = P119 | IOSTANDARD = LVTTL;


# RESET
NET "SYS_RESET_N" 		LOC = P182 | IOSTANDARD = LVTTL;

# UART
NET "UART_RTS" 			LOC = P198 | IOSTANDARD = LVTTL;
NET "UART_CTS" 			LOC = P199 | IOSTANDARD = LVTTL;
NET "UART_TXD" 			LOC = P200 | IOSTANDARD = LVTTL;
NET "UART_RXD" 			LOC = P203 | IOSTANDARD = LVTTL;

# CLOCK
NET "CLK_MASTER" 		LOC = P181 | IOSTANDARD = LVTTL;
NET "CLK_SLOW"			LOC = P154 | IOSTANDARD = LVTTL;

# SCHMITT-TRIGGERS
NET "ST_1_OUT"			LOC = P166 | IOSTANDARD = LVTTL;
NET "ST_2_OUT"			LOC = P165 | IOSTANDARD = LVTTL;

# DIGITAL CLUSTER
NET "DCL_OUT"			LOC = P3 | IOSTANDARD = LVTTL;
NET "ACL_OUT"			LOC = P2 | IOSTANDARD = LVTTL;

# SCANPORT FPGA-CPLD
NET "SP_1_TCK_FPGA"		LOC = P76 | IOSTANDARD = LVTTL;
NET "SP_2_TCK_FPGA"		LOC = P77 | IOSTANDARD = LVTTL;
NET "SP_1_TMS_FPGA"		LOC = P74 | IOSTANDARD = LVTTL;
NET "SP_2_TMS_FPGA"		LOC = P72 | IOSTANDARD = LVTTL;
NET "SP_1_TDO_FPGA"		LOC = P68 | IOSTANDARD = LVTTL;
NET "SP_2_TDO_FPGA"		LOC = P67 | IOSTANDARD = LVTTL;
NET "SP_1_TRST_FPGA"	LOC = P65 | IOSTANDARD = LVTTL;
NET "SP_2_TRST_FPGA"	LOC = P64 | IOSTANDARD = LVTTL;
NET "SP_1_FAIL_FPGA"	LOC = P63 | IOSTANDARD = LVTTL;
NET "SP_2_FAIL_FPGA"	LOC = P62 | IOSTANDARD = LVTTL;
NET "SP_1_TDI_FPGA"		LOC = P78 | IOSTANDARD = LVTTL;
NET "SP_2_TDI_FPGA"		LOC = P71 | IOSTANDARD = LVTTL;


# DEBUG
NET "DEBUG<0>" 			LOC = P61 | IOSTANDARD = LVTTL; #low active, led green
NET "DEBUG<1>" 			LOC = P33 | IOSTANDARD = LVTTL; #low active, led yellow
NET "DEBUG<2>" 			LOC = P44 | IOSTANDARD = LVTTL; #low active, led blue


# PUSH BUTTONS AND STATUS LEDS
NET "CTRL_IN_START_N"	LOC = P35 | IOSTANDARD = LVTTL;
NET "CTRL_IN_STOP_N" 	LOC = P34 | IOSTANDARD = LVTTL;
NET "CTRL_OUT_PASS" 	LOC = P57 | IOSTANDARD = LVTTL;
NET "CTRL_OUT_FAIL" 	LOC = P58 | IOSTANDARD = LVTTL;
	

#I2C
NET "I2C_SDA" 			LOC = P52 | IOSTANDARD = LVTTL;
NET "I2C_SCL" 			LOC = P51 | IOSTANDARD = LVTTL;
